/* Start Main Rules */
body {
	background-color: #F4F4F4;
}
h2 {
    font-size: 55px;
    font-weight: bold;
    margin: 40px 0;
    color: #666;
}
.row {
    margin-top: 20px;
}
.form-control::placeholder {
    color: #cacaca;
    font-size: 14px;
}
.asterisk {
    position: absolute;
    right: 25px;
    top: 2px;
    font-size: 25px;
    font-weight: 500;
    color: #D20707;
}
/* End Main Rules */

/* start  Bootstrap edits*/
@media(min-width: 992px){
    .navbar {
        padding: 0;
    }
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link , .navbar-nav .dropdown-menu , 
.dropdown-item {
    background-color: #3498db;
}
.dropdown-menu , .dropdown-divider {
    padding: 0;
    margin: 0;
    border-radius: 0;
}
.dropdown-item {
    color: #fff;
    padding: 0.5rem 1.5rem;
}
.img-thumbnail {
    padding: .2rem;
}
.form-control:focus {
    box-shadow: none;
}
/* end  Bootstrap edits*/

/* start header */
.upper-bar {
    padding: 10px;
    background-color: #FFF;
}
/* end header */

/* start login page */
.login-page h2 {
    color: #c0c0c0;
}
.login-page h2 span{
    cursor: pointer;
}
.login-page form {
    margin: auto;
    max-width: 400px;
}
.login-page form.signup{
    display: none;
}
.login-page .custom-input {
    position: relative;
    padding: 10px;
}
.custom-input label {
    position: absolute;
    left: 30px;
    top: 18px;
    font-size: 14px;
    color: #999;
    transition: 0.35s ease-in-out;
    z-index: -1;
}
.custom-input input:not([type=submit]){
    background-color: transparent;
}
.login .custom-input input:not([type=submit]):focus + label ,
.login .has-data label {
    left: 20px;
    top: -12px;
    font-size: 14px;
    color: #008dde;
    transition: 0.35s ease-in-out;
}
.signup .custom-input input:not([type=submit]):focus + label ,
.signup .has-data label {
    left: 20px;
    top: -12px;
    font-size: 14px;
    color: #28a745;
    transition: 0.35s ease-in-out;
}
.signup .form-control:focus {
    border-color:#28a745 ;
}
.login-page .selected[data-class="login"] {
    color: #008dde;
}
.login-page .selected[data-class="signup"] {
    color: #28a745;
}
.login-page .btn {
    width: 380px !important;
    margin: auto;
}
.login .btn {
    background-color: #008dde;
}
/* end login page */