/* Start Main Rules */
body {
	background-color: #F4F4F4;
}
h2 {
    font-size: 55px;
    font-weight: bold;
    margin: 40px 0;
    color: #666;
}
.form-control::placeholder {
    color: #cacaca;
    font-size: 14px;
}
.asterisk {
    position: absolute;
    right: 22px;
    top: 12px;
    font-size: 25px;
    font-weight: 500;
    color: #D20707;
}
.main-form .asterisk {
    right: 22px;
    top: 3px;
    font-size: 28px;
}
/* End Main Rules */

/* start  Bootstrap edits*/
.row {
    margin-top: 20px;
}
@media(min-width: 992px){
    .navbar {
        padding: 0;
    }
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link , .navbar-nav .dropdown-menu , 
.dropdown-item {
    background-color: #3498db;
}
.dropdown-menu , .dropdown-divider {
    padding: 0;
    margin: 0;
    border-radius: 0;
}
.dropdown-item {
    color: #fff;
    padding: 0.5rem 1.5rem;
}
.img-thumbnail {
    padding: .2rem;
}
.form-control:focus {
    box-shadow: none;
}
/* end  Bootstrap edits*/

/* start header */
.upper-bar {
    padding: 10px;
    background-color: #FFF;
}
.upper-bar .my-info img {
    width: 32px;
    height: 32px;
}
/* end header */

/* start login page */
.login-page h2 {
    color: #c0c0c0;
}
.login-page h2 span{
    cursor: pointer;
}
.login-page form {
    margin: auto;
    max-width: 400px;
}
.login-page form.signup{
    display: none;
}
.login-page .custom-input {
    position: relative;
    padding: 10px;
}
.custom-input label {
    position: absolute;
    left: 30px;
    top: 18px;
    font-size: 14px;
    color: #999;
    transition: 0.35s ease-in-out;
    z-index: -1;
}
.custom-input input:not([type=submit]){
    background-color: transparent;
}
.login .custom-input input:not([type=submit]):focus ~ label ,
.login .has-data label {
    left: 20px;
    top: -12px;
    font-size: 14px;
    color: #008dde;
    transition: 0.35s ease-in-out;
}
.signup .custom-input input:not([type=submit]):focus ~ label ,
.signup .has-data label {
    left: 20px;
    top: -12px;
    font-size: 14px;
    color: #28a745;
    transition: 0.35s ease-in-out;
}
.signup .form-control:focus {
    border-color:#28a745 ;
}
.login-page .selected[data-class="login"] {
    color: #008dde;
}
.login-page .selected[data-class="signup"] {
    color: #28a745;
}
.login-page .btn {
    width: 380px !important;
    margin: auto;
}
.login .btn {
    background-color: #008dde;
}
.the-messages .alert {
    max-width: 380px;
    margin: auto;
}
.the-messages .alert-danger:first-child {
    margin-top: 10px;
}
/* end login page */

/* start profile page */
.block {
    margin: 20px 0 0;
}
.block .card:first-child .card-body{
    border: 2px solid #007bff;
}
.information ul li {
    padding: 10px;
}
.information ul li:nth-child(odd) {
    background-color: #eee;
}
.information ul li span {
    display: inline-block;
    width: 120px;
}
.card .date {
    font-size: 13px;
    font-weight: bold;
    color: #AAA;
}
.card .price {
    width: 120px;
    position: absolute;
    top: 7px;
    left: -33px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    line-height: 38px;
    color: #FFF;
    border-bottom: 30px solid #E9272F;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(-45deg);
    height: 0;
}
.card .approve-msg {
    position: absolute;
    top: 0;
    right:0;
    background-color: #b85a5a;
    color: #FFF;
    padding: 3px 5px;
}
/* end profile page */

/* start items page */
.special-heading {
    font-size: 1.5em;
    margin: 0;
}
.item-info p {
    padding: 10px;
}
.item-info ul li {
    padding: 10px;
}
.item-info ul li:nth-child(odd) {
    background-color: #e8e8e8;
}
.item-info ul li span {
    display: inline-block;
    width: 120px;
}
.add-comment h4 {
    margin: 0 0 10px;
}
.add-comment textarea {
    margin-bottom: 10px;
}
.comment-box {
    margin-bottom: 20px;
}
.comment-box img {
    max-width: 100px;
}
.comment-box .lead {
    background-color: #EEE;
    padding: 10px;
    margin-top: 10px;
}
.comment-box .date-comment {
    margin: 0;
    font-size: 12px;
}
/* end items page */