/* Start Main Rules */
body {
	background-color: #F4F4F4;
}
.form-control::placeholder {
    color: #cacaca;
    font-size: 14px;
}
.asterisk {
    position: absolute;
    right: 25px;
    top: 2px;
    font-size: 25px;
    font-weight: 500;
    color: #D20707;
}
/* End Main Rules */

/* Start Login Form */
.login {
	width: 300px;
	margin: 100px auto;
}
.login h4 {
	color: #888;
}
.custom-input {
    position: relative;
    padding: 10px;
}
.custom-input label {
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 10px;
    color: #999;
    transition: 0.35s ease-in-out;
    z-index: -1;
}
.custom-input input[type="text"] , 
.custom-input input[type="password"] {
    height: 30px;
    background-color: transparent;
    border: 1px solid #dfdfdf;
}
.custom-input input[type="text"]:focus + label , 
.custom-input input[type="password"]:focus + label {
    left: 20px;
    top: -10px;
    font-size: 12px;
    color: #008dde;
    transition: 0.35s ease-in-out;
}
.has-data label {
    left: 20px;
    top: -10px;
    font-size: 12px;
    color: #008dde;
    transition: 0.35s ease-in-out;
}
.login .btn {
	background-color: #008dde;
    width: 280px !important;
    margin: auto;
}
/* End Login Form */

/* start  Bootstrap edits*/
@media(min-width: 992px){
    .navbar {
        padding: 0;
    }
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link , .navbar-nav .dropdown-menu , 
.dropdown-item {
    background-color: #3498db;
}
.dropdown-menu , .dropdown-divider {
    padding: 0;
    margin: 0;
    border-radius: 0;
}
.dropdown-item {
    color: #fff;
    padding: 0.5rem 1.5rem;
}
/* end  Bootstrap edits*/

/* start dashbord page */
.home-stats .stat {
    background-color: #EEE;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 15px;
}
.home-stats .stat span {
    display: block;
    font-size: 50px;
}
.latest {
    margin-top: 30px;
}
/* end dashbord page */

/* start members page */
h2 {
    font-size: 55px;
    font-weight: bold;
    margin: 40px 0;
    color: #666;
}
.show-pass {
    position: absolute;
    top: 6px;
    right: -30px;
}
.main-table {
	box-shadow: 0 3px 10px #CCC;
}
.main-table td {
	background-color: #FFF;
	vertical-align: middle !important;
}
.main-table tr:first-child td { /* You Can Use Thead */
	background-color: #333;
	color: #FFF;
}
.main-table .btn {
	padding: 3px 10px;
}
.activate {
	margin-left: 5px;
}
/* End members page */
